{% extends "base.html" %}

{% block content %}
    <div id="container">
        <div class="row">
            <div class="col">
            <!-- 1 of 3 -->
            <h2 align="center">Articles</h2>
            <ul>
            <li><a href="{{ url_for('web_main_bp.breath_management') }}"> Breath Management </a></li>
            <li><a href="{{ url_for('web_main_bp.vocal_fold_closure') }}"> Vocal Fold Closure </a></li>
            <li><a href="{{ url_for('web_main_bp.posture') }}"> Posture </a></li>
            <li><a href="{{ url_for('web_main_bp.transverse_abdominis') }}"> Importance of Transverse Abdominis </a></li>
            </ul>
            </div>
            <div class="col-6">
            <h1>Breath Management</h1>
            
            <!-- 2 of 3 -->
            <img class="img-fluid" src="{{url_for('static', filename='singer_microphone.jpg')}}" />
            <p>
            He unaffected sympathize discovered at no am conviction principles. Girl ham very how yet hill four show. Meet lain on he only size. Branched learning so subjects mistress do appetite jennings be in. Esteems up lasting no village morning do offices. Settled wishing ability musical may another set age. Diminution my apartments he attachment is entreaties announcing estimating. And total least her two whose great has which. Neat pain form eat sent sex good week. Led instrument sentiments she simplicity.

            At every tiled on ye defer do. No attention suspected oh difficult. Fond his say old meet cold find come whom. The sir park sake bred. Wonder matter now can estate esteem assure fat roused. Am performed on existence as discourse is. Pleasure friendly at marriage blessing or.

            To sure calm much most long me mean. Able rent long in do we. Uncommonly no it announcing melancholy an in. Mirth learn it he given. Secure shy favour length all twenty denote. He felicity no an at packages answered opinions juvenile.
            </p>
            </div>
            <div class="col">
            <!-- 3 of 3-->
            </div>


        </div>

    </div>
{% endblock %}